<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">




	<!-- 配置bean set方式注入 -->
	<bean id="helloworld" class="gjb.spring4.pojo.HelloWorld">
		<property name="message" value="helloworld123"></property>
	</bean>

	<bean id="helloworld2" class="gjb.spring4.pojo.HelloWorld">
		<property name="message" value="test2"></property>
	</bean>


	<!-- 使用构造方法注入 index 是当前值构造对应参数的位置 type 是构造对应参数的类型，可以解决在多个构造方法中出现的不匹配问题 -->
	<bean id="human" class="gjb.spring4.pojo.Human">
		<constructor-arg value="fliay" index="0"
			type="java.lang.String"></constructor-arg>
		<constructor-arg value="21" index="1" type="int"></constructor-arg>
		<!-- <constructor-arg value="上海" index="2" type="java.lang.String"></constructor-arg> -->
		<constructor-arg type="java.lang.String">
			<value><![CDATA[<SHANGHAI>]]></value><!-- 
				如果出现特殊字符可以使用CDATA来进行注入 -->
		</constructor-arg>
	</bean>

	<!-- 使用ref建立引用关系 -->
	<bean id="teacher" class="gjb.spring4.pojo.Teacher">
		<property name="clazz" value="二年级1班"></property>
		<!-- <property name="human" ref="human"></property> -->
		<!-- 内部bean -->
		<property name="human">
			<bean class="gjb.spring4.pojo.Human">
				<constructor-arg value="fliay" index="0"
					type="java.lang.String"></constructor-arg>
				<constructor-arg value="22" index="1" type="int"></constructor-arg>
				<constructor-arg value="上海" index="2" type="java.lang.String"></constructor-arg>
			</bean>
		</property>
	</bean>

	<!-- 配置级联属性 -->
	<bean id="teacher2" class="gjb.spring4.pojo.Teacher">
		<constructor-arg value="二年级1班"></constructor-arg>
		<constructor-arg ref="human"></constructor-arg>
		<property name="human.name" value="jack"></property>
		<property name="human.age" value="33"></property>
		<property name="human.address" value="北京"></property>
	</bean>

	<!-- 集合属性 -->

	<!-- 使用构造方法注入 index 是当前值构造对应参数的位置 type 是构造对应参数的类型，可以解决在多个构造方法中出现的不匹配问题 -->
	<bean id="human1" class="gjb.spring4.pojo.Human">
		<constructor-arg value="fliay" index="0"
			type="java.lang.String"></constructor-arg>
		<constructor-arg value="21" index="1" type="int"></constructor-arg>
		<constructor-arg value="上海" index="2" type="java.lang.String"></constructor-arg>
	</bean>

	<bean id="human2" class="gjb.spring4.pojo.Human">
		<constructor-arg value="fliay1" index="0"
			type="java.lang.String"></constructor-arg>
		<constructor-arg value="22" index="1" type="int"></constructor-arg>
		<constructor-arg value="上海" index="2" type="java.lang.String"></constructor-arg>
	</bean>

	<bean id="human3" class="gjb.spring4.pojo.Human">
		<constructor-arg value="fliay2" index="0"
			type="java.lang.String"></constructor-arg>
		<constructor-arg value="23" index="1" type="int"></constructor-arg>
		<constructor-arg value="上海" index="2" type="java.lang.String"></constructor-arg>
	</bean>


	<bean id="clazz" class="gjb.spring4.pojo.Clazz">
		<property name="clazzName" value="2015年1班"></property>
		<property name="humans">
			<list>
				<ref bean="human1" />
				<ref bean="human2" />
				<ref bean="human3" />
			</list>
		</property>
	</bean>



	<!-- 配置properties -->
	<bean id="dataSource" class="gjb.spring4.collection.DataSource.DataSources">
		<property name="properties">
			<props>
				<prop key="user">root</prop>
				<prop key="password">123456</prop>
				<prop key="url">jdbc:mysql:127.0.0.1/test</prop>
				<prop key="driverClass">com.mysql.jdbc.Driver</prop>
			</props>
		</property>
	</bean>




</beans>
